:root {
    --sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, 
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, 
        arial, sans-serif;
    --monospace: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, 
        monospace;
}

body {
    max-width: 38em;
    font-family: var(--sans-serif);
    line-height: 1.5;
    padding: 1em;
    margin: 0 auto;
}

code {
    font-family: var(--monospace);
}

img {
    width: 100%;
}
